@import 'sass/index';
@import "base/index";
.container-form-img-woz{
    background-color: #ffffff;
    margin-top: -450px;
    z-index:-1;
    img{
        height: 1400px;
    }
    @include respondto(md){
        margin-top: -360px;
        img{ height: 1100px;}
    }
    @include respondto(sm){display: none;}
    @include respondto(maxxs){display: none;}
    @include respondto(minxs){display: none;}
}