@import 'sass/index';
@import "base/index";

.container-informacion-contacto{
    margin-right: 3%; margin-left: 3%;
    .sub-container-informacion-contacto{
        display: flex; justify-content: space-between; flex-wrap: wrap;
        .formulario-contacto{
            width: 45%;
            h5{
                font-weight: 500; font-weight: 600; margin-top: 0px;
                margin-bottom: 0px; font-size: 20px; font-family:"arvo_regular";
            }
            h4{
                font-size: 28px; color: #5E1A6F; letter-spacing: 1.5px;
                font-weight: 600; margin-top: 15px;
                margin-bottom: 0px;
                font-family:"aquawax_medium";
                text-transform: uppercase;
            }
            h6{
                height: 5px; width: 100%; background-color: #5E1A6F; margin: 8px 0px 30px 0px;
            }
            .container-form-input{
                position: relative;
                display: flex;
                align-items: center;
                color: #ffffff;
                font-family:"arvo_regular";
                span{
                    position: absolute;
                    padding-left: 8px; padding-bottom: 10px;font-size: 22px; color: #ffffff;
                }
                input{
                    border: 1px solid #d8efdb;
                    background-color: #ac8fb6;
                    border-radius: 5px;
                    color: #ffffff;
                    font-size: 16px;
                    padding: 14px 0px 14px 40px;
                    width: 100%;
                    margin-bottom: 10px; 
                    &::placeholder{
                        color: #d5c6da;
                    }
                    &:focus{
                        outline: none; 
                    }
                }
                @include respondto(maxxs){span{font-size: 15px;} 
                input{font-size: 12px; padding: 12px 0px 12px 32px; margin-bottom: 5px;}}
                @include respondto(minxs){span{font-size: 15px;} 
                input{font-size: 12px; padding: 12px 0px 12px 32px; margin-bottom: 5px;}}
            }
            .container-form-textarea{
                position: relative;
                display: flex; align-items: flex-start;
                color: #768292;
                font-family:"arvo_regular";
                span{
                    position: absolute; padding-top: 10px; 
                    padding-left: 8px; padding-bottom: 10px;font-size: 22px; color: #ffffff;
                }
                textarea{
                    color: #768292;
                    font-family:"arvo_regular";
                    border: 1px solid #d8efdb;
                    background-color: #ac8fb6;
                    border-radius: 5px;
                    color: #ffffff;
                    font-size: 16px;
                    padding: 11px 0px 9px 40px;
                    height: 147px;
                    width: 100%;
                    box-sizing: border-box;
                    &::placeholder{
                        color: #d5c6da;
                     }
                     &:focus{
                         outline: none; 
                     }
                }
                @include respondto(maxxs){span{font-size: 18px;} 
                textarea{font-size: 12px; height: 100px;}}
                @include respondto(minxs){span{font-size: 18px;} 
                textarea{font-size: 12px; height: 100px;}}
            }
            .style-button-block10{
                font-family:"arvo_regular";
                input{
                    padding: 14px 0px 14px 0px;
                    cursor: pointer;
                    border: 2px solid;
                    background-color: #5E1A6F;
                    border-color: gray;
                    color: #ffffff;
                    font-size: 18px;
                    border-radius: 5px;
                    width: 100%;
                    margin-top: 10px; margin-bottom: 10px;
                    &:hover{
                        background-color:#eef5fd;
                        color:#5E1A6F;
                    }
                     &:focus{
                         outline: none; 
                     }
                }
                @include respondto(maxxs){ 
                    input{font-size: 12px;padding: 12px 0px 12px 32px; margin: 5px 0 5px 0;}}
                @include respondto(minxs){ 
                    input{font-size: 12px;padding: 12px 0px 12px 32px; margin: 5px 0 5px 0;}}
                
            }
            p{display: flex; justify-content: center;
                a{  text-decoration: none;
                    span{font-size: 30px; margin: 0px 15px 0px 15px;color: #5E1A6F; }
                }  
            }
            @include respondto(sm){width: 55%;}
            @include respondto(maxxs){width: 55%; h5{font-size: 18px;}
                h4{font-size: 20px; font-size: 200;}
                p{ a{span{ font-size: 15px;}}}}
            @include respondto(minxs){width: 55%; h5{font-size: 18px;}
                h4{font-size: 20px; font-size: 200;}
                p{ a{ span{ font-size: 15px;}}}}

        }
        .container-informacion-contacto{
            width: 35%;
            .descripcion-informacion-contacto{
                h5{
                    font-weight: 600;
                    margin-bottom: 15px; font-size: 20px; font-family:"arvo_regular";
                }
                h6{ display: flex; align-items: center; font-family:"arvo_regular"; margin: 0px 0px 5px 0px;
                    span{color: #444444; font-size: 30px; padding-right: 20px;}
                        p{font-weight: 100; font-size: 16px;}
                }
                @include respondto(maxxs){ h5{font-size: 18px;}
                h6{ span{font-size: 18px; padding-right: 10px;} p{font-size: 15px;}}
                }
                @include respondto(minxs){ h5{font-size: 18px;}
                h6{ span{font-size: 18px; padding-right: 10px;} p{font-size: 15px;}}
                }
            }
            .imagen-contacto{
                text-align: center; margin-top: 40px;
                img{
                    width: 300px; object-fit: contain;
                    @include respondto(sm){ width: 200px; }
                    @include respondto(maxxs){ width: 150px; }
                    @include respondto(minxs){ display: none; }
                }                
            }
        }
        @include respondto(minxs){
            flex-direction: column;
            .formulario-contacto{
                width: 100%;
            }
            .container-informacion-contacto{
                width: 100%;
            }

        }
    }
}