@font-face {
    font-family:"aquawax_medium";// titulos
	src: url("../fonts/aquawax_medium_trial.ttf")format("truetype");
}
@font-face {
    font-family:"arvo_regular";// texto pequeños
	src: url("../fonts/arvo_regular.ttf")format("truetype");
}
